@import  '../../style/variables.scss';

body {
  background-color: $light-grey;
}

.App-Content {
  display: flex; 
  flex-direction: column;
}

.Section-Header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.Section-Main {
  display:flex;
  flex-direction: row;

}

.Panel-Close-Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 25px;
  margin-right: 25px;
}

.Map-Container {
  display: flex;
  
}
.is-hidden {
  display: none;
  // visibility: hidden;
  // width: 0%;
  // opacity: 0;
  // transition: all .15s ease-in-out;
  
}

.is-visible{
  // visibility: visible;
  // width: 100%;
  // opacity: 100;
  // transition: all .15s ease-in-out;

}

.property-found {
        margin-top: 25px;
        display: flex;
        font-size: 13px;
        color: $mid-grey;
        justify-content: flex-start;
    }


@media only screen and (max-width: 800px) {

    .Map-Container {
      display: none;
    }
}