@import '../../globalStyles/variables.scss';

.filterbutton-container {
    display: flex;
    margin-right: 10px;

    .filterbutton-button {
        border: 1px solid $grey;
        padding: 12px;
        background-color: $white;
    }
    
    .filterbutton-button:hover {
        color:$mid-grey;
    }
    
    .filterbutton-text {
        font-weight: $semibold;
        font-size: 12px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .is-selected {
        background-color: $cyan;
        color: black;
       /* box-shadow: inset 0px -21px 0px -16px #00ab5c;*/
    }
    
}

@media only screen and (max-width: 1000px) {

.filterbutton-container {
    flex-direction: column;
}

}