@import  '../../globalStyles/variables.scss';

.panelopen-img-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}   
    
    .panelopen-img-modal-content {
        background: $light-light-grey $imgplaceholder no-repeat center;
        width: 50rem;
        height: 25rem;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        box-shadow: -8px 12px 26px -10px $black;
        transition: all .2 ease-in-out;
    }

    .panelopen-img-small-container {
        background-color: $light-grey;
        display: flex;
        flex-direction: row;
        object-fit: cover;
    }
    
    .panelopen-img-small {
        background: $light-light-grey $imgplaceholder no-repeat center;
        cursor: pointer;
        width: 10rem;
        height: 5rem;
        opacity: .8;
    }
    
    .panelopen-img-small:hover{
        opacity: 1;
    }


    .panelopen-img-modal-close {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        float: right;
        justify-content: flex-end;
        position: absolute;
        margin: 10px;
        font-weight: $bold;
        fill: $dark-grey;
        stroke: $white;
    }
    .panelopen-img-modal-close:hover {
        fill:$grey;
    }

    .is-hidden {
        // display: none;
        opacity: 0;
        width: 1;
        height: 0;
        visibility: hidden;
        z-index: -1;
    }


