*, input{
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.login-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.login-name {
    font-weight: 700;
    margin-bottom: 10px;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

input {
    font-size: 14px;
    border: 2px solid rgb(193, 193, 193);
    padding: 10px;
    margin: 3px;
    border-radius: 20px;
}

.login-button {
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
    background-color: #00ab5c;
    border-radius: 25px;
    font-weight: 400;
}

.login-button:hover {
    color: black;
    background-color: rgb(209, 233, 255);
}