<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="dashboard-posting.css">
    <link rel="stylesheet" type="text/css" href="../reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboardnewlisting-container">
        <div class="listing-container">
            <div class="listing-name">
                Crea Nuovo Annuncio
            </div>
            <div class="listing-input">
                        <input type="text" class="input input-address" placeholder="Indirizzo">
                        <input type="text" class="input input-city" placeholder="Città">
                        <input type="text" class="input input-province" placeholder="Provincia">
                        <input type="number" class="input input-price" step="100" min="0" placeholder="Prezzo (€)">
                        <input type="number" class="input input-short input-rooms" min="0"placeholder="Locali">
                        <input type="number" class="input input-short input-bathrooms" min="0"placeholder="Bagni">
                        <input type="number" class="input input-short input-dimension" step="10"min="0"placeholder="Superficie (mq)">
                        
                        <textarea name="textarea" id="" cols="30" rows="5" class="input input-description" placeholder="Descrizione"></textarea>
                            
                <button class="upload-photo">
                    Carica Foto
                </button>
            </div>
        </div>
            
</div>


</body>
</html>