<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="filters.css">
    <link rel="stylesheet" type="text/css" href="../reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="filters-container">
            <div class="filters-closefilters">X</div>
            <div class="filters-search">
                <div class="search-container">
                    <input class="search-input" type="search" placeholder="Cerca proprietà...">
                    </input>
                    
                    <div class="search-icon">
                        <svg width="30" height="30" viewBox="100 -100 200 1200" >
                            <g fill="rgb(197, 197, 197)" preserveAspectRatio="xMidYMid meet" >
                                <path d="m 501.9 453.7 l -130 -130.7 c 23.6 -33.1 37.8 -74 37.8 -118.2 c 0 -113.4 -92.1 -204.8 -204.8 -204.8 s -204.8 92.2 -204.8 204.8 s 92.2 204.8 204.8 204.8 c 44.1 0 85.1 -14.2 118.2 -37.8 l 130.8 130 c 6.3 7.1 15.8 10.2 23.6 10.2 s 18.1 -3.2 23.6 -10.2 c 14.2 -13.4 14.2 -34.7 0.8 -48.1 l 0 0 z m -297 -88.2 c -88.2 0 -160.7 -71.7 -160.7 -160.7 s 71.7 -160.7 160.7 -160.7 s 160.7 71.7 160.7 160.7 s -72.4 160.7 -160.7 160.7 z"/>
                            </g>
                        </svg>
                    </div>
                    
                </div> 
            </div>
                <div class="filters-type">
                    <div class="filters-name">
                        Tipo di proprietà
                    </div>
                            <div class="type-container">
                                    <button class="type-button">
                                        <div class="type-text">
                                            Casa
                                        </div>
                                    </button>
                                    <button class="type-button">
                                        <div class="type-text">
                                            Ufficio
                                        </div>
                                    </button>
                                
                                    <button class="type-button button-selected">
                                        <div class="type-text">
                                            Appartamento
                                        </div>
                                    </button>
                                    <button class="type-button">
                                        <div class="type-text">
                                            Terreno
                                        </div>
                                    </button>
                            </div>
                </div>
                <div class="filters-price">
                    <div class="filters-name">
                        Prezzo
                    </div>
                    <div class="slider-container">
                        <div class="slider-text">€ 10000</div>
                        <input class="slider" type="range" min="1000" max="10000000" value="50%">
                    </div>
                </div>
                <div class="filters-dimension">
                    <div class="filters-name">
                        Dimensione
                    </div>
                    <div class="slider-container">
                        <div class="slider-text">mq 180</div>
                        <input class="slider" type="range" min="10" max="500" value="50%">
                    </div>
                </div>
                <!--
                    <div class="filter-rooms">
                        <input type="number">
                    </div>
                    <div class="filter-bathrooms">
                        <input type="number">
                    </div>
                    <div class="filter-floors">
                        <input type="number">
                    </div>
                -->
                <div class="filters-feature">
                    <div class="filters-name">
                        Locali
                    </div>
                    <div class="feature-container">
                        <button class="feature-button">
                            <div class="feature-text">1</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">2</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text ">3</div>
                        </button>
                        <button class="feature-button button-selected">
                            <div class="feature-text ">4</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">5</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">6</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">7</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">8</div>
                        </button>
                    </div>
                    <div class="filters-name">
                        Bagni
                    </div>
                    <div class="feature-container">
                        <button class="feature-button">
                            <div class="feature-text">1</div>
                        </button>
                        <button class="feature-button button-selected">
                            <div class="feature-text">2</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">3</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">4</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">5</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">6</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">7</div>
                        </button>
                        <button class="feature-button">
                            <div class="feature-text">8</div>
                        </button>
                    </div>
                  
                </div>


                </div>
            </div>
        </div>
    </div>
        
</body>


</html>