@import  '../../globalStyles/globalStyles.scss';
@import  '../../globalStyles/variables.scss';

body {
  background-color: $light-grey;
}

.section-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.section-main {
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
}

.panelclose {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  
}

.is-hidden {
  display: none;
}

.is-clicked {
  background-color: $cyan;
}
