*, body, input {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor:pointer;
}

//colors
$white:  #ffffff;
$light-grey: rgb(231, 231, 231);
$mid-grey: rgb(121, 121, 121);
$mid-dark-grey: rgb(149, 149, 149);
$dark-grey: rgb(66, 66, 66);
$green: #00ab5c;
$dark-cyan: rgb(0, 132, 255);
$cyan: rgb(209, 233, 255);
$red: rgb(214, 0, 0);
$black:rgb(0, 0, 0);

//font
$family: 'Montserrat', sans-serif;
$regular: 300;
$semibold: 400;
$bold: 700;

$medium: 12px;
$big: 15px;
$giant: 20px;