@import  '../variables.scss';

body {
  background-color: $light-grey;
}

.App {
  display: flex;
}
.App-Content {
  display: flex; 
  flex-direction: column;
}

.Section-Main {
  display:flex;
  flex-direction: row;
  height: 100vh;
}

.Panel-Container {
    flex-direction: column;
    margin: 50px;
}

.Preview-Text {
  font-weight: $bold;
  margin-bottom: 25px;
}

@media only screen and (max-width: 800px) {

      .Section-Main {
        flex-direction: column; 
      }
    }