@import  '../variables.scss';

#root {
  display: flex;
}

body {
  background-color: $light-grey;
}

.App {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Section-Header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.Section-Main {
  display:flex;
  flex-direction: row;
}

.Panel-Container {
  margin: 50px;
  width: 100%;
}

.Preview-Text {
  font-weight: $bold;
  margin-bottom: 25px;
}
