@import  '../variables.scss';

body {
  background-color: $light-grey;
}

.App-Content {
  display: flex; 
  flex-direction: column;
}

.Section-Main {
  display:flex;
  flex-direction: row;
}
.Filters-Container {
  background-color: $white;
}

.Panel-Close-Container {
  margin-left: 25px;
  margin-right: 25px;
}

@media only screen and (max-width: 500px) {

      .Section-Main {
        flex-direction: column; 
      }
    }