@import  '../variables.scss';

.navigator-container {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: -8px 12px 26px -10px $black-opaque;

    .navigator-button {
        display: flex;
        align-self: center;
        justify-content: center;
        color: $green;
        margin: 15px 0px 15px 0;
        padding: 0 10px 0 10px;
    }

    .navigator-button:hover {
        color: white;
        background-color: $green;
    }

    .navigator-img {
        display: flex;
        align-self: center;
        justify-content: center;
        
    }

    .back-button {
        background-color: white;
        border: 2px solid $green;
        font-weight: $bold;
    }
    .save-button {
        color: $white;
        background-color: red;
        border: none;
        font-weight: $bold;
    }

    .navigator-text {
        display: flex;
        padding: 15px;
    }

}

