@import  '../variables.scss';

.panelopen-container {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    
}
.panelopen {
    display: flex;
    margin-top: 25px;
    box-shadow: -8px 12px 26px -10px rgba(0,0,0,0.2);
    background-color:white;
    flex-direction: column;
}

.panelopen-up {
    text-align:center;
    position: relative;
    height: 300px;

}
.panelopen-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.see-more-photo {
    font-size: $medium;
    position: absolute;
    bottom: 15px;
    right: 10px;
    z-index: 999;
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 7px 12px 7px 12px;
    border-radius: 6px;
    color: grey;
    font-weight: 700;
}

.panelopen-down-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panelopen-down-first {
    margin: 50px;
}
.panelopen-down {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.panelopen-property-price-container {
    display: flex;
    background-color: #00ab5c;
    border-radius: 6px;

}

.panelopen-property-price-text {
    display: flex;
    align-items:center;
    font-size: $big;
    padding: 8px 15px 8px 15px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
.panelopen-down-location_price_feature {
    display: flex;
    flex-direction:column;
}
.panelopen-down-left {
    flex-direction: column;
}

.panelopen-property-address {
    display:flex;
    justify-content: flex-start;
    font-size: $giant;
    font-weight: 700;
    color: rgb(63, 62, 62);
}

.panelopen-down-right {
    display:flex;
    flex-direction: row;
    margin-left: 15px;
    
}
.panelopen-property-feature-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}
.panelopen-property-feature {
    margin-left: 15px;
}
.panelopen-property-feature-size {
    text-align: center;
    font-size: $medium;
    background-color:rgb(231, 231, 231);
    padding: 7px;
    font-weight: 400; 
}

.panelopen-property-feature-name {
    margin-top: 5px;
    font-size: $medium;
    font-weight: 300;
}

.panelopen-property-location {
    margin-top: 3px;
    font-size: $medium;
    color: grey;
    text-overflow: ellipsis;
}
.panelopen-property-description {
    font-size: $medium;
    color: grey;
    line-height: 18px;
    margin: 25px 0 25px 0;
}
.panelopen-social-options-container {
    display: flex;
    flex-direction: row;
    
}

.panelopen-social-button-container {
    font-size: $medium;
    padding: 10px 45px 10px 45px;
    background-color: #ffffff;
    margin-right: 10px;
    border: 0.5px solid rgb(214, 214, 214);
    color:rgb(54, 54, 54);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelopen-down-second {
    margin: 50px 50px 50px 0;
}

.panelopen-contact-form-container {
    background-color: rgb(231, 231, 231);
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.panelopen-contacts {
    font-size: $medium;
    color: grey;
}

.panelopen-contact-textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: $medium;
    box-sizing: border-box;
    border: none;
    display: flex;
    padding: 15px;
    margin: 15px 0 15px 0;
    resize: none;
}
.panelopen-contact-textarea:focus {
    outline:none;
}

.panelopen-contact-button-container {
    display: flex;
    justify-content: center;
    background-color: #00ab5c;
    border-radius: 6px;
    align-items:center;
    margin-bottom: 5px;
}

.panelopen-contact-button-text {
    font-size: $medium;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    color: white;
    font-weight: 400;
}


@media only screen and (max-width: 920px) {

    .panelopen-down-container {
        flex-direction: column;
        background-color: white;
    }

    .panelopen-down-first {
        margin: 50px 50px 0 50px;
    }

    .panelopen-down-second {
        margin: 50px;
    }

    .panelopen-social-options-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {

    .panelopen-down {
        flex-direction: column;
        
    }
    .panelopen-down-left {
        margin-bottom: 15px;
    }

    .panelopen-down-first {
        margin: 25px 25px 0 25px;
    }

    .panelopen-down-second {
        margin: 25px;
    }
    .panelopen-down-right {
        margin: 0;
    }

    .panelopen-social-options-container {
        display: block;
        
    }
}

@media only screen and (max-width: 420px) {
    .panelopen-property-price-container {
        justify-content: center;
    }
    .panelopen-property-address {
        display: block;
    }
    .panelopen-down-left {
        text-align: center;
        justify-content: center;
    }
    .panelopen-down-right {
        flex-direction: column;
    }
    .panelopen-property-feature-container{
        justify-content: space-evenly;
    }

    .panelopen-property-feature {
        margin: 15px 10px 0 0px;
    }

}