@import  '../../style/variables.scss';

.map-container {
    display:none;
    width: 350px;

    &.is-hidden {
        display: flex;
    }

    .map-img {
        width: 350px;
        object-fit: cover;
    }
    
}


