@import  '../../globalStyles/variables.scss';


svg {
    display: flex;
}

.filterbuttonmain-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 23px 13px 23px;
    background-color:$light-grey;
    margin-right: 15px;
    // border-radius: 10px;
    font-weight: $semibold;
    border: none;
    width: 150px;
    overflow: hidden;
    transition: all .2s ease-in-out;

    .filterbuttonmain-img {
        margin-right: 10px;
        fill: $mid-grey;
        transition: all .2s ease-in-out;

    }
}
.filterbuttonmain-button:hover {

    color: $mid-grey; 
}

.filterbuttonmain-button:hover > .filterbuttonmain-img{
    fill: $mid-grey;
}

.filterbuttonmain-list-text {
    cursor:pointer;
    padding: 10px;
}

.filterbuttonmain-list-text:hover {
    background-color: $cyan;
    color: $black;
}

