@import  '../../globalStyles/globalStyles.scss';
@import  '../../globalStyles/variables.scss';


body {
  background-color: $light-grey;
}

.section-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.section-main {
  display:flex;
  
}

.listing-container {
  margin-right: 50px;
  position: sticky;
  padding-left: 25px;
  top: 200px;
  background-color: white;
}

.panel-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 50px;
  margin-top: 50px;
}

// .panelopen-container {
//   display: none;
// }


@media screen and (max-width: 1000px) {

.section-header {
  position: static;

}

.section-main {
  flex-direction: column;
}

.listing-container {
  margin-right: 0;
  margin-bottom: 25px;
}


}