@import  '../../globalStyles/variables.scss';

.listing-name {
    font-weight: $bold;
}

.listing-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    padding: 1vmax;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid $black;
    width: 20rem;
}


.input-description {
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


