@import  '../../style/variables.scss';
 
.buttonsfilters-container{
    box-shadow: -8px 12px 26px -10px $black-opaque;
    padding: 25px;
    background-color: $light-light-grey;

    .buttonsfilters-buttoncontainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 15px;
    }

    .buttonsfilters-list-modal{
        display: flex;
        flex-direction: column;
        align-content: center;
        position:absolute;
        background-color: white;
        margin-top: -3px;
        border: 1px solid $mid-grey;
        box-shadow: -8px 12px 26px -10px $black-opaque;
    }

    .buttonsfilters-list-text {
        cursor:pointer;
        padding: 10px;
    }
    .buttonsfilters-list-text:hover {
        background-color: $cyan;
    }
    .is-hidden {
        display: none;
        opacity: 0;
        
    }

    .is-clicked {
        border: 2px solid $mid-grey;
        color: black;
        background-color: $cyan;
    }

}
