@import  '../../globalStyles/globalStyles.scss';


.search-container {
    display: flex;
    position: relative;
    z-index: 999;

    .search-input {
        display: flex;
        font-size: 14px;
        border: 1px solid $mid-grey;
        padding: 8px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-appearance: none;
    }
    
    .search-input::-webkit-search-decoration,
    .search-input::-webkit-search-cancel-button,
    .search-input::-webkit-search-results-button,
    .search-input::-webkit-search-results-decoration { 
        display: none; 
    }
    
    .search-icon {
        display: block;
        position: absolute;
        top: 11px;
        right: 0px;
        z-index: 999;
        border-radius: 6px;
    }
}
