@import  '../../globalStyles/variables.scss';


.search-container {
    display: flex;
    position: relative;
    z-index: 999;
    margin-right: 15px;

    .search-input {
        background:url("../../assets/icon/icon-search.svg") right 50% no-repeat;
        display: flex;
        font-size: 14px;
        border: 1px solid $grey;
        padding: 8px;
        width: 100%;
        overflow: hidden;
        fill: grey;
        text-overflow: ellipsis;
        -webkit-appearance: none;
    }
    
    .search-input::-webkit-search-decoration,
    .search-input::-webkit-search-cancel-button,
    .search-input::-webkit-search-results-button,
    .search-input::-webkit-search-results-decoration { 
        display: none; 
    }
    
    .search-icon {
        display: flex;
        
    }
}
