@import  '../../globalStyles/globalStyles.scss';


.panelclose-container {
    margin-top: 25px;
    margin-bottom: 25px;
}
.panelclose {
    display: flex;
    flex-grow: 1;
    box-shadow: -8px 12px 26px -10px $black-opaque;
    flex-direction: row;
    background-color: white;
}

.panelclose-preview:empty:before{
    content:attr(panel-sample-text);
    opacity: 0.4;
    color: $dark-grey;
}

.panelclose-left{
    display: flex;
    position: relative;
    height: 250px;
    width: 250px;
}

.panelclose-img {
    border: none !important;
    width: 250px;
    height: 250px;
    object-fit: cover;
    background: $light-light-grey $iconEmptyImg no-repeat center;
}

.panelclose-property-price-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: $green;
    border-radius: 6px;
}

.panelclose-property-price-text {
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    font-size: $big;
    padding: 7px 12px 7px 12px;
    color: $white;
    font-weight: 700;
}

.panelclose-right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-self: center;
    margin: 25px;
}

.panelclose-property-address {
    display: flex;
    font-weight: $bold;
    
}
.panelclose-property-feature-container {
    display:flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.panelclose-property-feature-size {
    background-color: $light-light-grey;
    padding: 5px;
    margin-right: 5px;
}

.panelclose-property-feature-name {
    display: none;
    color: $grey;
}
.panelclose-property-location {
    margin-top: 3px;
    font-size: $medium;
    color: $mid-grey;
}

.panelclose-property-description {
    line-height: 14px;
    font-size: $medium;
    color: $mid-grey;
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis; 
    
}

@media screen and (max-width: 992px) {
    .panelclose {
      flex-direction: column;
      width: 250px;
    }
  }



