@import  '../../globalStyles/variables.scss';


.filters-container {
    display: flex;
    padding:25px;
    background-color: $white;
    position: absolute;
    box-shadow: -8px 12px 26px -10px $black-opaque;
    border: 1px solid $grey;
    flex: 1;

    &.is-hidden {
    display: none;

    }

    .filters-closefilters {
        display:flex;
        justify-content: flex-end;
        border: none;
        background: none;
        font-weight: $bold;
    }
    
    .filters-name {
        margin-bottom: 10px;
        font-size: 12px;
        color: $mid-grey;
    }

    .feature-container {
        display: flex;
        flex-wrap: wrap;

        .feature-button {
            flex: 0 25%;
            border: 5px solid $white;
            padding: 12px;
            background-color: $light-grey;
        }
        
        .feature-button:hover {
            border: 2px solid $green;
        }

        .feature-text {
            font-weight: $semibold;
            font-size: 12px;
            display: flex;
            justify-content: center;
            width: 100%;
        } 
    }
}


