@import  '../../globalStyles/variables.scss';


.navigator-container {
    display: flex;
    justify-content: flex-start;
    padding:25px;
    border-bottom: 1px solid $grey;
    background-color: white;
}

.back-button {
    color: $green;
    background-color: white;
    border: 2px solid $green;
    font-weight: $bold;
}


.save-button:hover{
    background-color: $dark-cyan; 
}

@media screen and (max-width: 1000px) {

.navigator-container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}
}




