@import  '../../globalStyles/globalStyles.scss';
  
  .middle {
    position: relative;
    width: 50%;
    max-width: 500px;
  }
  
  .slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
  }
  .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: lightgrey;
  }
  .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: green;
  }
  .thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: darkgrey;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
  }
  .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
  }
  .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
  }
  .thumb.hover {
    background-color: grey;
  }
  .thumb.active {
    background-color: green;
    /*box-shadow: 0 0 0 30px rgba(0, 128, 0, 0.24);*/
  }
  
  .input {
    
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
  }
  .input::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    -webkit-appearance: none;
  }
  
  .multi-range-slider-container {
    position: relative;
    width: 50%;
    max-width: 500px;
  }

.slider-name {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 12px;
    color: $mid-grey;
}

.slider-text {
    margin-top: 15px;
    font-size:14px;
}
