@import  '../../globalStyles/globalStyles.scss';


.map-container {
    display: flex;
    width: 250px;
    right:0;
    transition: all .5s ease-in-out;

    .map-img {
        width: 250px;
        object-fit: cover;
    }

    &.is-hidden {
        // display: none;
        
        opacity: 0;
        width: 0;
    }
}


@media only screen and (max-width: 992px) {

    .map-container {
        display:none;
    }
}


