@import  '../../globalStyles/variables.scss';

.leaflet-container {
    right: 0;
    width: 55vw;
    height: 80vh;
    margin-top: 25px;
  }

.map-container {
    position: sticky;
    top: 185px;
    right: 0;
    // width: 50%;
    // height: 100vh;
    // right: 0;
   

    .map-img {
        position: sticky;
        object-fit: cover;
        width: 100%;

    }

    &.is-hidden {
        // display: none;
        
        opacity: 0;
        width: 0;
    }
}

@media only screen and (max-width: 1000px) {

    .map-container {
        display:none;
    }
}


