@import  '../../globalStyles/variables.scss';


.filterbuttonspacer-container {
    display: flex;
    width: 1px;
    background-color: $grey;
    margin-left: 15px;
    margin-right: 25px;
}

@media only screen and (max-width: 1000px) {

.filterbuttonspacer-container {
    display: none;
}

}
