@import  '../../globalStyles/variables.scss';


.filterbuttonspacer-container {
    display: flex;
    width: 2px;
    background-color: $light-grey;
    margin-left: 15px;
    margin-right: 25px;
}

@media only screen and (max-width: 992px) {

.filterbuttonspacer-container {
    display: none;
}

}
