<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>


#img-result {
  cursor: pointer;
  margin: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  display: block;
  width: 250px;
  height: 250px;
}

</style>
<body>
        <div class="wrapper">
            <button class="no-image" id="img-result"></button>
        </div>

        <script async>
            (function () {
                    var uploader = document.createElement('input'),
                    image = document.getElementById('img-result');
                    uploader.type = 'file';
                    uploader.accept = 'image/*';
                    image.onclick = function() {
                        uploader.click();
                    }
                    uploader.onchange = function() {
                        var reader = new FileReader();
                        reader.onload = function(evt) {
                        image.classList.remove('no-image');
                        image.style.backgroundImage = 'url(' + evt.target.result + ')';
                        }
                        reader.readAsDataURL(uploader.files[0]);
                    }
                })();
        </script>
</body>
</html>